body{
  background-color: aqua;
  padding: 30px;
}

main{
  position: relative;
}

.createBlogContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid blue;
}

.createBlogForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}

.blogCard{
  background-color: white;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.blogCard:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.01);
}

.editFormContainer{
  border: 2px solid red;
  background-color: whitesmoke;
  position: absolute;
  width: 90%;
  height: 80vh;
  z-index: 99;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}