body{
  background-color: #2c333f;
  padding: 30px;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2c333f;
background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e5ecef' fill-opacity='0.03'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

main{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  min-height: 50vh;
  color: #ec2c4b;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 40px;
  outline: 1px solid red;
}

main h3{
  font-weight: 300;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ec2c4cc7;
  height: 10vh;
  color: #e5ecef;
}

footer a{
  text-decoration: none;
  color: #e5ecef;
  font-size: 1rem;
  transition: 0.2s ease-in-out;
}

footer a:hover{
  color: #2c333f;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 5px;
  margin: 0;
  padding: 30px;
  color: #ec2c4b;
  font-family: Arial, Helvetica, sans-serif;
}

.globe{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
}

.homeFormsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}
.homeFormsContainer input{
  border: none;
  width: 15rem;
  padding: 5px;
  border-radius: 5px;
}

.homeFormsContainer h4{
  font-weight: 200;
}

.createAccountForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.checkboxContainer{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ec2c4b;
}
.checkboxContainer input{
  width: fit-content;
}

.loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.createBlogContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.createBlogForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  
}

.createBlogForm input, textarea{
  border: none;
  border-radius: 5px;
  width: 90%;
  padding: 10px;
}

.blogCard{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5ecef;
  border-radius: 5px;
  padding: 40px;
  margin: 40px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: fit-content;
  width: 70%;
  max-width: 1200px;
  color: #2c333f;
  transition: 0.2s all ease-in-out;
}
.blogCard h3{
  font-weight: bold;
  letter-spacing: 4px;
  text-decoration: underline;
  color: #ec2c4b;
}

.blogCard div{
  font-weight: 200;
  line-height: 25px;
}

.blogCard h6{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #2c333f;
  color: #e5ecef;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.7rem;
}
.cardButtons{
 position: absolute;
 top: 5px;
 right: 5px;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 5px;
}
.deleteBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color:#ec2c4b;
  color: #e5ecef;
  padding: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s all ease-in-out;
}
.deleteBtn:hover{
  transform: scale(1.08);
}

.editBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  background-color:#2c333f;
  color: #e5ecef;
  padding: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s all ease-in-out;
}
.editBtn:hover{
  transform: scale(1.08);
}

.blogCard:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.01);
}

.editFormContainer{
  background-color: #e5ecef;
  border-radius: 5px;
  position: fixed;
  top: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 80%;
  height: fit-content;
  padding: 20px;
  z-index: 99;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.editFormContainer textarea{
  border: 1px solid #ec2c4b;
  width: 90%;
}
.editFormContainer input{
  border: 1px solid #ec2c4b;
  width: 90%;
  padding: 5px;
  border-radius: 5px;
}

.usersListContainer{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  flex-wrap: wrap;
  gap: 20px;
}

.userContainer{
  background-color: #e5ecef;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
}
.userContainer:hover{
  transform: scale(1.08);
  background-color: #ec2c4b;
  color: #e5ecef;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.bloggersTitle{
  font-weight: 300;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

.Btn{
  border: none;
  border-radius: 5px;
  background-color: #e5ecef;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}
.Btn:hover{

  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transform: scale(1.08);
  background-color: #ec2c4b;
  color: #e5ecef;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.logoutBtn{
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 5px;
  background-color: #e5ecef;
  border: none;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}
.logoutBtn:hover{
  transform: scale(1.08);
  background-color: #ec2c4b;
  color: #e5ecef;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.blogPostContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.GuestsBlogPostContainer{

  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100%;
}

.error{
  background-color: #ec2c4b;
  color: #e5ecef;
  padding: 10px;
  border-radius: 5px;
}

.welcome{
  color: #e5ecef;
  letter-spacing: 5px;
  font-weight: 300;
}

.loading{
  width: 70px;
  filter: grayscale(100%);
}

.createPost{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  gap: 5px;
}

.buttonsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.subInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.subInfo h5{
  color: #e5ecef;
  font-weight: 100;
}
